<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>607140931138-9d083j4j7sg0tnnuqgdl99p3dkgn5qjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAki0q0QfU_Qc7lDAqOR8Rxk9QwPgQxaRg</string>
	<key>GCM_SENDER_ID</key>
	<string>607140931138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>test-2c3c8</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2c3c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607140931138:ios:cb449428d1d7ef8e642fdb</string>
</dict>
</plist>